/*订单管理*/

html{
    margin: 0;
    padding:0;
}
img{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

}
body{
    margin: 0;
    padding: 0;
    font-family: "宋体","Arial","Microsoft YaHei","黑体",sans-serif;
}
.rt{
    float: right;
}
.lf{
    float: left;
}
.cler{
    content:"";
    display: block;
    clear: both;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:link{
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
header{
    width: 100%;
    background-color: #F7B529;
    text-align: center;

}
header>img:nth-child(1){
    height: 1.5rem;
}
header>span{
    font-size: .6rem;
    line-height: 1.5rem;
    display: inline-block;
}
header>img:nth-child(1){
    float: left;
    position: absolute;
    left: 0;
}
.tc{
    width: .65rem;
    margin-right: .5rem;
    margin-top: .3rem;
    position: absolute;
    right: 0;
}
/*页脚部分*/
footer {
    background: #fff;
    width: 100%;

}
footer ul{
    display: flex;
    /*align-items: center;*/
    padding:0;
    /*height: 1rem;*/
    margin-bottom: 0;

}
footer li {
    text-align: center;
}
footer>ul>li p{

}
footer li a{
    text-align: center;
}
footer li:nth-child(1){
    width: 15%;
    margin-top: 10px;
}
footer li:nth-child(2){
    width: 15%;
    margin-top: 10px;
}
footer li:nth-child(2) p{
    margin-top: 3px;
    font-size: smaller;
    color: #acacac;
    margin-bottom: 0;
}
footer li:nth-child(1) p{
    margin-top: 3px;
    font-size: smaller;
    color: #acacac;
    margin-bottom: 0;
}

footer li:nth-child(3) {
    display: flex;
    width: 35%;

    justify-content: center;
    align-items: center;
    background: #40B9FE;
    color: #fff;
    padding: .25rem 0;
}
footer li:nth-child(3) i{
    margin: 0 .2rem 0 0;
}
footer li:nth-child(3) a{
    color: #fff;
}
footer li:nth-child(4){
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    background: #f7b529;
    color: #fff;
    padding: .25rem 0;
}
footer li:nth-child(4) i{
    margin: 0 .2rem 0 0;
}
footer li:nth-child(4) a{
    color: #ffffff;
}
.footer_home{
    background: url("../images/home_blach@2x.png");
}
.footer_my{
    background: url("../images/my_black@2x.png");
}
.footer_zx{
    background: url("../images/FFFadvice.png");
}
.footer_phone{
    background: url("../images/FFFphone.png");
}
.footer_icon {
    width: .5rem;
    height: .5rem;
    background-size: 100%;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.footer_active a{
    color: #ffbb0e;
}
section>div:nth-child(1){
    background-color: #FFFFFF;
    height: 1rem;
}
.lb{
    min-height: 7rem;
    background-color: #FFFFFF;
    margin: .15rem;
    border-radius: .2rem;
    overflow: hidden;
}

.xy{
    background-color: #40B9FE;
    color: #FFFFFF;
    height: 1.2rem;
    font-size: .42rem;
    padding-left: .5rem;
}
.xy>label{
    height: 1.2rem;
    line-height: 1.2rem;
}
.xy>span{
    height: 1.2rem;
    line-height: 1.2rem;

}
.xy>a{
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
    margin-right: .6rem;

}
.xy>a>img{
    margin-top: .26rem;
    margin-left: .1rem;
    width:.34rem;
}
.zy{
    background-color: #FFFFFF;
    border-bottom: 1px solid #dddddd;
    height: 1rem;
    font-size: .35rem;
    padding-left: .5rem;
    color: #969292;
}
.zy>label{
    height: 1rem;
    line-height: 1rem;
}
.zy>span{
    height: 1rem;
    line-height: 1rem;
    margin-left: 1.7rem;

}
.zy>a{
    text-decoration: underline;
    color: #8196FF;
}
.ly>span{
    float: right;
    margin-right: .6rem;
    color: #3c3333;
}
.ly>a{
    text-decoration:underline;
    color: #8fb9e6;
    float: right;
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    margin-right: .6rem;
    font-size: .35rem;
}
div.footer{
    height: 1.5rem;
    background-color: #FFFFFF;
}
.footer{
    text-align: center;
}
.footer>a{
    display: inline-block;
    border:1px solid #5d5a5a;
    font-size: .35rem;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    width:20%;
    margin-top: .4rem;
    border-radius: .2rem;
    margin-right: .35rem;

}
.btn2{
    float: right;
    background-color: #F7B529;
    color: #000000;
}
.btn1{
    float: right;
    color: #5d5a5a;

}
.btnActive{
    color: #F7B529;
}
.swiper-wrapper div{
    width: 10rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}
.swiper-slide span{
    height: .95rem;
    line-height: 1rem;
    font-size: .4rem;
    margin-right: 0;
    display: inline-block;
}
.active{
    color: #f7b529;
    border-bottom: 5px solid #f7b529;
}
div.fd{
    background-color:#FFFFFF;

    margin-top: .2rem;
}
div.fd-one{
    padding-left: .5rem;
    padding-top: .35rem;
    margin-bottom: .3rem;
}
.fd-one>div:nth-child(1){
    float: left;
}
.fd-one>div:nth-child(1)>h2{
    margin: 0;
    font-size: .35rem;
}
.fd-one>div:nth-child(1)>label{
   font-size: .3rem;
    display: flex;
    margin-top: .1rem;
    color:#5d5a5a;
}
.fd-one>div:nth-child(2){
    float: right;
    margin-right: .4rem;
}
.fd-one>div:nth-child(2)>span{
    display: flex;
    font-size: .32rem;
    color:#5d5a5a;
}
.fd-two{
    border-top: 1px solid #ddd;
    margin-left: .5rem;
    margin-right: .4rem;
    min-height: 1rem;
    margin-bottom: .2rem;
}
.fd-two>div:nth-child(1){
    height: .8rem;
    margin-top: .3rem;
    min-height: 1.1rem;
}
.fd-two>div>img:nth-child(1){
    width: .5rem;
}
.dw{
    width: .3rem;
    margin-left: .3rem;
}
.fd-two>div>span{
    font-size: .35rem;
    color: #5d5a5a;
    height: .8rem;
    line-height: .8rem;
}
a.ljyy{
    display: inline-block;
    border: 1px solid #F7B529;
    float: right;
    height: .8rem;
    line-height: .8rem;
    width: 2.2rem;
    text-align: center;
    font-size: .35rem;
    border-radius: .2rem;
    margin-left: .24rem;
    color: #F7B529;
}
a.ck{
    display: inline-block;
    border: 1px solid #ddd;
    float: right;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    width: 1.5rem;
    font-size: .35rem;
    border-radius: .2rem;
    color: #dddddd;

}