
.wrap {
    background: #f2f8ff;
    height: 18rem;
}

input{
    border: none;
    width: 100%;
    font-size: .38rem;
}
.com_content_box {
    padding: 0 .2rem;
    background: #fff;
}
.send_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: .2rem .25rem;
}
textarea {
    width: 100%;
    height: 7rem;
    margin-top: .3rem;
    font-size: .38rem;
}
.send_content {
    padding-bottom: .3rem;
    border-bottom: 1px solid #e9e9e9;
}
.send_order_one {
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #e6e6e6;
}
.send_order_two {
    height: 1rem;
    line-height: 1rem;
}