
.tc_ava {
    padding: .3rem 0;
}
.tc_name {
    font-size: .4rem;
    font-weight: 400;

}
.teacher_school_icon {
    background: url(../img/dx@2x.png) no-repeat;
    display: inline-block;
    width: .4rem;
    height: .7rem;
    vertical-align: middle;
    margin: -.1rem .2rem 0 0;
    background-size: 100%;
}
.teacher_edu_icon {
    background: url(../img/zy@2x.png) no-repeat;
    display: inline-block;
    width: .5rem;
    height: .5rem;
    vertical-align: middle;
    margin: 0 .1rem 0 .1rem;
    background-size: 100%;
}
.tc_num {
    font-size: .3rem;
    margin-left: .2rem;
}
.el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #edac22;
    z-index: 1;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
}
.el-tabs__item.is-active {
    color: #edac22;
}


.teacher_business {
    text-align: center;
    background: #fff;
}

.grzl_box ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #e1e1e1;
}
.grzl_box {
    box-sizing: border-box;
    padding: 0 .3rem;
    background: #fff;
}
.grzl_box li {
    text-align: center;
    flex: 1;
    border-right: 1px solid #d8d8d8;
    padding: .2rem 0;
    margin: .5rem 0;
}
.grzl_box li p:nth-child(1) {
    color: #a6a6a6;
    font-size: .3rem;
    margin-bottom: .2rem;
}
.grzl_box li p:nth-child(2) {
    color: #767676;
    font-size: .35rem;
}
.grzl_box li:last-child{
    border: none;
}

.el-tabs__header {
    border-bottom: 1px solid #d1dbe5;
    padding: 0;
    position: relative;
     margin: 0 ;
}
.evaluation_box {
    background: #fff;
}
.eva_p_box {
    margin: 0 .25rem;
    border-bottom: 1px solid #dfdfdf;
}
.eva_p_boxs{
    margin: 0 .25rem;
    padding-top: .3rem;
}
.eva_icon {
    width: .1rem;
    background: #f7b934;
    height: .5rem;
    display: inline-block;
    margin-right: .1rem;
    vertical-align: bottom;
}
.evaluation_box_title {
    color: #2d2d2d;
    font-size: .35rem;
    font-weight: 400;
    padding: .3rem 0;
}
.evaluation_box_content {
    line-height: .5rem;
    padding-bottom: .4rem;
    color: #6f6f6f;
}
.form_fastTutor{
    padding: .5rem .3rem 1rem .3rem;
}
.form_fastTutor_title {
    display: flex;
    justify-content: center;
    padding-bottom: .15rem;
}
.form_fastTutor_title_text {
    font-size: .37rem;
    color: #000;
    margin-left: .2rem;
    font-weight: 400;
}
.tc_fx_btn {
    background: #f7b529;
    border-radius: .5rem;
    color: #fff;
    padding: .1rem .4rem;
    box-shadow: -2px 0 5px white, 0 -2px 5px white, 0 0.2rem 0.2rem #ffe2b4, 2px 0 5px #dbba57;
    margin-right: .5rem;
}
.tc_jr_btn {
    background: #f7b529;
    border-radius: .5rem;
    color: #fff;
    padding: .1rem .4rem;
    box-shadow: -2px 0 5px white, 0 -2px 5px white, 0 0.2rem 0.2rem #ffe2b4, 2px 0 5px #dbba57;
}
input:-ms-input-placeholder{text-align: left;}
input::-webkit-input-placeholder{text-align: left;}


