/*文章中心*/

html{
    margin: 0;
    padding:0;
}
img{
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

}
body{
    margin: 0;
    padding: 0;
    font-family: "宋体","Arial","Microsoft YaHei","黑体",sans-serif;
}
.rt{
    float: right;
    position: absolute;
    right: 0;
}
.lf{
    float: left;
}
.cler{
    content:"";
    display: block;
    clear: both;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:link{
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
header{
    width: 100%;
    background-color: #F7B529;
    text-align: center;

}
header>img:nth-child(1){
    height: 1.5rem;
}
header>span{
    font-size: .6rem;
    line-height: 1.5rem;
}
header>img:nth-child(1){
    float: left;
    position: absolute;
    left: 0;
}

/*页脚部分*/
footer {
    background: #fff;
    width: 100%;

}
footer ul{
    display: flex;
    /*align-items: center;*/
    padding:0;
    /*height: 1rem;*/
    margin-bottom: 0;

}
footer li {
    text-align: center;
}
footer>ul>li p{

}
footer li a{
    text-align: center;
}
footer li:nth-child(1){
    width: 15%;
    margin-top: 10px;
}
footer li:nth-child(2){
    width: 15%;
    margin-top: 10px;
}
footer li:nth-child(2) p{
    margin-top: 3px;
    font-size: smaller;
    color: #acacac;
    margin-bottom: 0;
}
footer li:nth-child(1) p{
    margin-top: 3px;
    font-size: smaller;
    color: #acacac;
    margin-bottom: 0;
}

footer li:nth-child(3) {
    display: flex;
    width: 35%;

    justify-content: center;
    align-items: center;
    background: #40B9FE;
    color: #fff;
    padding: .25rem 0;
}
footer li:nth-child(3) i{
    margin: 0 .2rem 0 0;
}
footer li:nth-child(3) a{
    color: #fff;
}
footer li:nth-child(4){
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    background: #f7b529;
    color: #fff;
    padding: .25rem 0;
}
footer li:nth-child(4) i{
    margin: 0 .2rem 0 0;
}
footer li:nth-child(4) a{
    color: #ffffff;
}
.footer_home{
    background: url("../images/home_blach@2x.png");
}
.footer_my{
    background: url("../images/my_black@2x.png");
}
.footer_zx{
    background: url("../images/FFFadvice.png");
}
.footer_phone{
    background: url("../images/FFFphone.png");
}
.footer_icon {
    width: .5rem;
    height: .5rem;
    background-size: 100%;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.footer_active a{
    color: #ffbb0e;
}
/*主体部分*/
section>div:nth-child(1){
    background-color: #FFFFFF;
    min-height: 1rem;
    padding-left:4%;
    border-bottom: 1px solid #dddddd;

}
div.nav span{
    font-size: .45rem;
    float: left;
    height: 1rem;
    line-height: 1rem;
    width: 48%;
    text-align: center;

}
span.active{
    border-bottom: 2px solid #f7b529;
    color: #f7b529;
}
div.nav>span:nth-child(1){


}
div.nav i{
    display: inline-block;
    float:right;
    margin-top: .4rem;

}
i.iconDown{
    /*width: 18px;*/
    /*height: 9px;*/
    width: .3rem;
    height: .2rem;
    background: url("../images/down.png") 0px 0px ;
    background-size: cover;
    background-size: 100% 100%;
}
.iconUp{
    width: .3rem;
    height: .2rem;
    background: url("../images/up.png") 0px 0px ;
    background-size: cover;
    background-size: 100% 100%;
}
div.huadong{
    position: relative;
}
div.huadong1{
    position: relative;
}
.drop2{
    position: absolute;
    width: 100%;
    display: none;
    z-index: 5201434;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
.drop2 a{
    width:27%;
    display: inline-block;
    color: #333;
    text-align: center;
    font-size: .35rem;
    margin: .1rem .2rem;
}
div.huadong>div:nth-child(1){
    position: absolute;
    width: 100%;
    display: none;
    z-index: 5201314;
    background-color: #ffffff;
    border:1px solid #dddddd;
    height: 1rem;

}
.xycjwt{
    width: 49%;
    display: inline-block;
    text-align: center;
    color: #333;
    font-size:.4rem;
    line-height: 1rem;
}
.jycjwt{
    width: 49%;
    display: inline-block;
    text-align: center;
    color: #333;
    font-size: .4rem;
    line-height: 1rem;
}
div.problem{
    background-color: #FFFFFF;
    margin-bottom: .3rem;
    padding-top: .4rem;
    padding-left: .4rem;
}
.problem>h1{
    margin: 0;
    float: left;
    font-weight: normal;
    font-size: .38rem;
    height: .6rem;
    line-height: .6rem;
    padding-left: .2rem;
}  span.z{
    font-size: .3rem;
    background-color: #f7b529;
    display: inline-block;
    width: 1.3rem;

    text-align: center;
}
.problem>i{
    height: .6rem;
    width: .5rem;
    display: inline-block;
    background: url("../images/wz@2x.png") 0px 0px ;
    background-size: 100% 100%;
    background-size: cover;
    float: left;
}
span.time{
    float: right;
    height: .6rem;
    line-height: .6rem;
    font-size: .3rem;
    margin-right: .15rem;
}
.problem>p{
    margin: 0;
    color:#8e8b8b;
    font-size: .35rem;
    margin-top: .1rem;
    padding-bottom: .3rem;
}
.fy{

    margin-bottom: .3rem;
    text-align: center;
}
.fy>a{
    display: inline-block;
    border: 1px solid #dddddd;
    background-color: #fff;
    color: #333;
    border-radius: .3rem;
    width: 2rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
}
a.down{
    margin-right:.5rem;
    margin-left: .5rem;
}
