@charset "utf-8";
/*页面开始*F7B529*/
.index1{width:980px;float:right;}
.index1 .lebt{width:980px;height:40px;}
.index1 .lebt .r{float:right;font-size:12px;line-height:40px;padding-right: 10px;}
.index1 .lebt .l{float:left;font-size:18px;line-height:40px;font-weight:800;}
.index1 .acrt{width:980px;height:295px;}
.index1 li{    margin: 5px 10px 5px 0;width:186px;height:280px;border: 1px solid #F7B529;float:right;list-style-type:none;}
.index1 li .top{padding: 15px 0;border-bottom: 1px solid #ddd;position:relative;}
.index1 li .top .hover{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0,0,0,.4);color: #fff;padding: 25px 15px 0 15px;text-align: left;line-height: 1.5;z-index: 3;display: none;}
.index1 li:hover .hover{display: block;transition: .3s;-o-transition: .3s;-moz-transition: .3s;-webkit-transition: .3s;}
.index1 li .top .hover a{float: right;color: #fff;margin-top: 10px;margin-right: 5px;}
.index1 li .top .hover a:hover{text-decoration: underline;}
.index1 li .top span{display: block;position: absolute;top: 0;right: 0;width: 65px;z-index: 2;}
.index1 li .top span img{width: 100%;}
.index1 li .top > img{padding: 0px 25px 0px 25px;display: inline-block;vertical-align: middle;border-radius: 50%;margin-bottom: 15px;width: 100%;height: 121px;margin:0 auto;}
.index1 li > a > img{margin-bottom: 15px;}
.index1 li i{padding: 10px 25px 0px 70px;display: block;font-size: 16px;margin-bottom: 11px;color: #333;}
.index1 li .top p{color: #fff;}
.index1 li p{color: #ababab;text-align: left;line-height: 1.4;}
.index1 li i{margin: 0;}
.index1 li .bottom{
    padding: 0px 0px 0px 5px;
    text-align: center;
}
.index1 li dl{float: left;width: 33.3%;font-size: 16px;color: #333;}
.index1 li dt{font-weight: bold;margin-bottom: 3px;}
.index1 li .bottom a.btn{
    /*padding: 0px 0px 0px 18px;*/
    display: inline-block;
    height: 30px;
    line-height: 28px;width:120px;color: #f9b04e;border: 1px solid #f9b04e;background: #fff;border-radius: 20px;margin-top: 10px;transition: .3s;-o-transition: .3s;-moz-transition: .3s;-webkit-transition: .3s;}
.index1 li .bottom a.btn:hover{
    /*padding: 0px 0px 0px 18px;*/
    background: #f9b04e;color: #fff;}
.acrt1{width:980px;border: 1px solid #F7B529;float:right;}
.acrt1 li{width:960px;height:40px;padding: 0px 5px 0px 5px;border-bottom:1px dashed #0a90a4;border-top: 1px solid transparent;border-right: 1px solid transparent;border-left: 1px solid transparent;}
#t1{width:5%;float:right;line-height:30px;text-align:center;color: #000;overflow: hidden;height: 30px;}
#t2{width:15%;float:right;line-height:30px;text-align:center;color: #000;overflow: hidden;height: 30px;}
#t3{width:7%;float:right;line-height:30px;text-align:center;color: #FFFFFF;overflow: hidden;height: 30px;}
#t4{width:25%;float:right;line-height:30px;text-align:center;color: #000;overflow: hidden;height: 30px;}
#t5{width:25%;float:right;line-height:30px;text-align:center;color: #000;overflow: hidden;height: 30px;}
#t6{width:13%;float:right;line-height:30px;text-align:center;color: #000;overflow: hidden;height: 30px;}
#t7{width:10%;float:right;line-height:30px;text-align:center;color: #000;overflow: hidden;height: 30px;}
.acrt2{width:970px;height:300px;border: 1px solid #F7B529;float:right;}
.acrt2 li{width:31%;
    height:40px;
    float:right;
    line-height:40px;
    color: #000;
    white-space:nowrap;overflow:hidden;margin: 0px 15px 0px 5px;border-bottom:1px dashed #0a90a4;list-style-type:none;}
.banner-main{width:800px;height:300px;margin:auto;position:relative;border-radius:2px;overflow:hidden;}
.banner-main>.banner-index{position:absolute;width:150px;/*height:50px;*//*background-color:#98bf21;*/bottom:15px;right:20px;display:inline-block;}
.banner-main>.banner-index>li{width:15px;height:15px;background-color:#0FF;float:left;border-radius:50%;margin:0 7px;cursor:pointer;}/*广告轮播的动态生成*/
.banner-main>.banner-index>li:hover,.banner-main>.banner-index>li.hover{background:#b61b1f;}
.banner-main>.banner-list{width:800px;height:300px;position:absolute;/*border-radius:20px;*/overflow:hidden;}
.banner-main>.banner-list>li{float:left;cursor:pointer;}
/*.banner-main>.banner-list>.ban-one{display:block;}*/
.banner-main>.banner-list>li>a{display:block;}
.banner-main>.banner-list>li>img{width:800px;height:300px;vertical-align:middle;}
/*///*/
.index3{width:100%;float:right;}
.index3 .lebt{width:100%;height:60px;}
.index3 .lebt .r{float:right;font-size:12px;line-height:15px;margin-top: 15px;}
.index3 .lebt .l{float:left;font-size:18px;line-height:60px;font-weight:800;padding-left: 10px;}
.index3 li{width:185px;height:280px;border: 1px solid #F7B529;float:right;list-style-type:none;}
.acrt3{width:100%;height:100%px;border: 1px solid #F7B529;float:right;}
.acrt3 li{width:100%;height:90px;padding: 0px 5px 0px 5px;border-bottom:1px dashed #0a90a4;border-top: 1px solid transparent;border-right: 1px solid transparent;border-left: 1px solid transparent;}
#ta{width:5%;float:right;line-height:90px;text-align:center;color: #000;overflow: hidden;height: 90px;}
#tb{width:10%;float:right;line-height:90px;text-align:center;color: #000;overflow: hidden;height: 90px;}
#tc{width:7%;float:right;line-height:45px;text-align:center;color: #FFFFFF;background-color: #F7B529;margin: 30px 5px 15px 10px;height:30px;line-height:30px;}
#td{width:45%;float:right;line-height:20px;color: #000;height: 90px;margin: 22px 10px 0px 10px;}
#te{width:8%;float:right;line-height:20px;text-align:center;color: #000;margin: 15px 5px 0px 5px;}
#tf{width:13%;float:right;line-height:35px;text-align:center;color: #000;height: 90px;margin: 10px 5px 0px 5px;}
#tg{width:6%;float:right;text-align:center;color: #000;height: 60px;line-height:35px;margin: 10px 5px 0px 5px;}
#tp{width:20%;float:right;line-height:45px;text-align:center;color: #000;overflow: hidden;height: 90px;}

.index5{width:980px;float:right;}
.index5 .lebt{width:980px;height:40px;}
.index5 .lebt .r{float:right;font-size:12px;line-height:40px;padding-right: 10px;}
.index5 .lebt .l{float:left;width:180px;font-size:18px;line-height:40px;font-weight:800;padding-left: 10px;margin-top:15px;}
.acrt5{width:100%;height:290px;border: 1px solid #F7B529;float:right;margin-bottom:15px;}
.acrt5 li{width:100%;height:40px;line-height:40px;padding: 0px 5px 0px 5px;list-style-type:none;border-bottom:1px dashed #0a90a4;}
.acrt5 li span{margin:0px 65px 0px 35px;}
.acrt5 li p{float:right;width:150px;margin:0px 0px 0px 15px;}
.nTab{
    float: left;
    width:800px;
    background:#fff;
    margin-top:35px;
    margin-right:-10px;
}
.nTab .TabTitle{clear: both;height: 40px;line-height:40px;overflow: hidden;}
.nTab .TabTitle ul{margin:0;padding:0;}
.nTab .TabTitle li{float: left;width: 95px;cursor: pointer;padding-top: 1px;padding-right: 0px;padding-left: 0px;padding-bottom: 17px;list-style-type: none;}
.nTab .TabTitle .active{background:#Fff;border: 1px solid #F7B529;}
.nTab .TabTitle .normal{background:#Fff;}
.nTab .TabContent{width:auto;background:#fff;margin: 0px auto;padding:10px 0 0 0;border-right:1px #C7C7CD solid;border-left:1px #C7C7CD solid;}
.none{display:none;}
.acrty{width:100%;height:40px;border: 1px solid #F7B529;float:right;}
.acrty li{width:100%;background-color: #F7B529;height: 40px;}
.acrty .ta{width:5%;float:right;line-height:40px;text-align:center;color: #000;overflow: hidden;height: 40px;}
.acrty .tb{width:10%;float:right;line-height:40px;text-align:center;color: #000;overflow: hidden;height: 40px;}
.acrty .tc{width:7%;float:right;line-height:35px;text-align:center;color: #000;background-color: #F7B529;height:35px;line-height:40px;}
.acrty .td{width:47%;float:right;line-height:40px;color: #000;height: 40px;}
.acrty .te{width:10%;float:right;line-height:40px;text-align:center;color: #000;}
.acrty .tf{width:10%;float:right;line-height:40px;text-align:center;color: #000;height: 40px;}
.acrty .tg{width:10%;float:right;text-align:center;color: #000;height: 40px;line-height:40px;}

.acrtp{width:100%;height:40px;line-height:40px;border: 0px solid #F7B529;text-align:center;margin-bottom: 55px;}
/*筛选模版样式*/
/* selectNumberScreen */
.selectNumberScreen{width:1200px;height:100%;margin:0px auto;}
.screenBox dl{border-bottom:#e6e6e6 1px dashed;width:1200px;overflow:hidden;margin-top: 20px;}
.screenBox dl.noborder{border-bottom:0px;border-left:0px;border-top:0px;border-right:0px}
.screenBox dl.goodstype{border-bottom:#e6e6e6 1px dashed}
.screenBox dl dt{float:left;height:30px}
.screenBox dl dt{
    /*text-align:right;*/
    width:100px;
    height:30px;
    font-weight:600;
    vertical-align: middle;
    padding-left: 21px;
}
.screenBox dl dd{position:relative;padding-bottom:0px;padding-left:0px;width:1000px;padding-right:48px;float:left;height:25px;overflow:hidden;padding-top:0px}
.screenBox dl dd a{line-height:14px;margin:0px 5px 0px 0px;display:inline-block;color:#36c;overflow:hidden;text-decoration:none}
.screenBox dl dd a:hover{background:#39c;color:#fff}
.screenBox dl dd a.selected{background:#39c;color:#fff}
.screenBox dl dd span.more{position:absolute;width:39px;display:block;height:14px;top:6px;cursor:pointer;right:1px}
.screenBox dl dd span.more label{display:inline-block;cursor:pointer}
.hasBeenSelected{border:#b2d1ff 1px solid;padding:2px;width:1200px;margin-top:0px;overflow:hidden;}
.hasBeenSelected dl{width:1200px;background:#f6f8fd;overflow:hidden}
.hasBeenSelected dl dt{float:left}
.hasBeenSelected dl dd{float:left}
.hasBeenSelected dl dt{text-align:right;width:100%;font-weight:600}
.hasBeenSelected dl dd{width:1200px;}
.selectedInfor{
    border-bottom:#f60 1px solid;
    position:relative;
    border-left:#f60 1px solid;
    padding-bottom:1px;
    margin:1px 1px 0px 0px;
    padding-left:5px;
    padding-right:1px;
    display:block;
    white-space:nowrap;
    background:#fff;
    float:left;
    height:30px;
    width:200px;
    border-top:#f60 1px solid;
    border-right:#f60 1px solid;
    padding-top:1px
}
.selectedInfor label{color:#f60;line-height:25px;width:200px;height:25px;}
.eliminateCriteria{line-height:21px;margin-top:1px;width:100px;float:left;color:#f60;cursor:pointer;font-weight:600}
.selectedInfor em{
    background:url("../images/close.gif") no-repeat;
    cursor:pointer;
    display:block;
    width:13px;
    height:13px;
    position: absolute;
    top:8px;
    left:170px;
   
    
}
/*资费说明*/
.zfsm{
    width:100%;
    /*height:600px;*/
    padding: 8px 10px 0px 10px;
}
.zfsm .bt{
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}
.zfsm .nr{
    width: 100%; 
}

.x{
    display:none;
}
#shou{
    display: none;
}
#gen{
    text-align: center;
    background-color: #F7B529;
    width: 120px;
    line-height:35px;
    margin:auto;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
   
}
#shou{
    text-align: center;
    background-color: #F7B529;
    width: 120px;
    line-height:35px;
    margin:auto;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}
#sousuo{
    background-color: #f7b529;
    color:#fff;
}
#footer{
    /*position:fixed;*/
    bottom: 0;
    left:0px;
    z-index: 999;
    background-color:#f8b529;
    opacity: .8;
    width: 100%;
    /*height:50px;*/
    border-radius: 5px;
    text-align: center;  
}
#footer p{
    display:block;
    margin-top: 8px;
}
/*jiaoyuan*/
.indext3{width:100%;float:right;}
.indext3 .lebt{width:100%;height:30px;}
.indext3 .lebt .r{float:right;font-size:12px;line-height:15px;padding-right: 10px;}
.indext3 .lebt .l{float:left;font-size:18px;line-height:30px;font-weight:800;padding-left: 10px;}
.indext3 li{width:185px;height:280px;border: 1px solid #F7B529;float:right;list-style-type:none;}
.acrtty{width:100%;height:40px;border: 1px solid #F7B529;float:right;}
.acrtty li{width:100%;background-color: #F7B529;height: 40px;}
.acrtty .ta{width:168px;float:right;line-height:40px;text-align:center;color: #000;overflow: hidden;height: 40px;}
.acrtty .tb{width:68px;float:right;line-height:40px;text-align:center;color: #000;overflow: hidden;height: 40px;}
.acrtty .tc{width:474px;float:right;line-height:35px;text-align:center;color: #000;background-color: #F7B529;height:35px;line-height:40px;}
.acrtty .te{width:237px;float:right;line-height:40px;text-align:center;color: #000;}
.acrtty .tf{width:160px;float:right;line-height:40px;text-align:center;color: #000;height: 40px;}
.acrtty .tg{width:67px;float:right;text-align:center;color: #000;height: 40px;line-height:40px;}
.acrtt3{width:100%;height:100%;border: 1px solid #F7B529;float:right;}
.acrtt3 li{width:100%;height:90px;padding: 0px 5px 0px 5px;border-bottom:1px dashed #0a90a4;border-top: 1px solid transparent;border-right: 1px solid transparent;border-left: 1px solid transparent;}
#tta{width:13%;float:right;line-height:90px;text-align:center;color: #000;overflow: hidden;height: 90px;}
#ttb{width:7%;float:right;line-height:90px;text-align:center;color: #000;overflow: hidden;height: 90px;}
#ttc{width:42%;float:right;text-align:center;margin: 30px 5px 15px 10px;height:30px;line-height:30px;}
#ttd{
    width:40%;float:right;line-height:34px;color: #000;height: 90px;padding-top: 25px;
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
#tte{
    width:20%;
    height:100%;
    float:right;
    text-align:center;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 5px 0px 5px;
    line-height: 6;
}
#ttf{
    width:11%;
    float:right;
    line-height:88px;
    text-align:center;
    color: #000;
    height: 88px;
    /*margin: 10px 5px 0px 5px;*/
}
#ttg {
    width: 8%;
    float: right;
    text-align: center;
    color: #000;
    height: 88px;
    line-height: 30px;
}
    /*margin: 10px 5px 0px 5px;}*/
/*快速请家教*/
#scontent {
	width: 100%;
	min-width: 1200px;
}
#fcontent .educate-form{
        margin-bottom: 95px;
	padding: 50px 0 60px 0;
}
#fcontent .educate-form h4 {
	color: #F7B529;
	font-size: 20px;
	text-align: center;
}
#fcontent .educate-form form {
	margin: 0 auto;
	width: 370px;
}
#fcontent .educate-form .fg {
	border: 1px solid #50c645;
	margin-top: 20px;
	height: 40px;
	line-height: 38px;
}
#fcontent .educate-form form input {
	border: none;
	outline: none;

	height: 100%;
	padding-left: 10px;
	color: #999;
	font-size: 15px;
}
#fcontent .educate-form form button {
	height: 40px;
	line-height: 40px;
	color: #fff;
	background:#F7B529;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 26px;
	font-size: 16px;

}
.jynr{
    width: 1200px;
    height: 100%;
    margin: auto;
}
.jynr .l{float: left;width: 370px;height: 406px;border: 1px solid #eee;margin-top: 15px;margin-bottom: 20px;}
.jynr .l li{
    float: left;
    padding-left: 10px;
    width: 370px;
    line-height:45px;
    height:45px;
    /*border: 1px solid #eee;*/
    border-top: 1px solid #eee;
    list-style-type: none;}
.jynr .l img{
 background-color:#ccc; 
-moz-border-radius: 500px; 
-webkit-border-radius: 500px; 
border:5px solid #f7b529; 
width: 150px;
margin-left: 105px;
/*padding-bottom: 30px;*/
margin-bottom: 20px;
}
.jynr .l .jybtnl{
margin-left: 30px;
float: left;
width: 120px;
height: 40px;
text-align:center;
font-size: 18px;
background: #F7B529;
border: 1px solid #C7C7CD;
    margin-bottom: 15px;
}
.jynr .l .jybtnr{
margin-right: 30px;
float: right;
width: 120px;
height: 40px;
font-size: 18px;
text-align:center;
background: #F7B529;
border: 1px solid #C7C7CD;
}
.jynr .l .jybtnr{
margin-right: 30px;
float: right;
width: 120px;
height: 40px;
font-size: 18px;
text-align:center;
background: #F7B529;
border: 1px solid #C7C7CD;
}
.jynr .l .jybtnh{
margin-left: 25px;
margin-top:255px;
width: 300px;
height: 40px;
line-height: 40px;
color: #ff0000;
font-size: 18px;
text-align:center;
background: #eee;
border: 1px solid #C7C7CD;
}
.jynr .l a{
 /*width: 120px;*/
 height: 40px;
 font-size: 14px;
margin: -1px 0px 0px -1px;
 line-height: 38px;
 background: #f7b529;
 border:#F7B529;
} 
.jynr .r{float: left;border: 1px solid #eee;margin: 15px 15px 0px 15px;border-bottom: none;}
.jynr .r li{border-bottom: 1px solid #eee;width: 500px;height: 45px;line-height: 45px;list-style-type: none;padding-left: 10px;}
.jynr .r li span{width:115px;border-right:1px solid #eee;display: inline-block; }
.cheng_teach-form{
    width:275px;
    float:right;
    background: #fff;
    position:relative;
    right:0;
    top:15px;
    border: 1px solid #eee;
    z-index: 999;
}
.cheng_teach-form h4{
    color: #666;
	border-bottom: 1px solid #eee;
	font-weight: normal;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	padding-left: 15px;
	height: 43px;
	line-height: 41px;

}
.cheng_teach-form form {
	border-top: none;
	padding: 15px 15px 20px 15px;
	background: #fff;
}
 .cheng_teach-form .fg {
	margin-bottom: 10px;
}
 .cheng_teach-form form label {
	display: block;
	margin-bottom: 5px;
	color: #888;
}
 .cheng_teach-form input {
	width: 100%;
	border: 1px solid #eee;
	outline: none;
	height: 35px;
	line-height: 33px;
	color: #888;
	padding-left: 10px;
	font-family: "Microsoft YaHei";
}
 .cheng_teach-form button {
	background: #F7B529;
	color: #fff;
	font-size: 17px;
	border: 1px solid #50c645;
	cursor: pointer;
	transition: .3s;
	-o-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	width: 100%;
	height: 45px;
	line-height: 43px;
	margin-top: 10px;
	font-family: "Microsoft YaHei";
}
 .cheng_teach-form button:hover {
	background: #f7b529;
}
/*张启明*/
.footw{width: 1200px;height: 120px;margin: auto;}
.footw .r1{width: 100%;height: 120px;}
.footw .r1 .b1{float:left;width: 17%;height: 25px;padding-right: 5px;list-style-type: none;text-align:right;}
.footw .r1 .b1 li{margin-right: 5px;}
.footw .r1 .b1 li img{
    margin-right: 25px;
    width: 60px;
}
.footw .r1 .b1 li p{margin-right: 5px;font-size: 24px;font-weight: 900px;}
.footw .r1 .b2{float:left;width: 20%;height: 25px;padding-right: 25px;list-style-type: none;}
.footw .r1 .b2 li{margin-bottom: 10px;}
.footw .r1 .b3{float:left;width: 20%;height: 25px;padding-right: 25px;list-style-type: none;}
.footw .r1 .b3 li{margin-bottom: 10px;}
.footw .r1 .b4{float:left;width: 20%;height: 25px;padding-right: 25px;list-style-type: none;}
.footw .r1 .b4 li{margin-bottom: 10px;}
.footw .r1 .b5{
    float:left;
    /*width: 20%;*/
    /*height:25px;*/
    padding-left:25px;
    list-style-type: none;
    text-align:left;
}
.footw .r1 .b5 li{margin-bottom: 10px;}
.footw .r1 .b5 li img{margin-right: 25px;}
.footw .r1 .b5 li p{
    margin-right: 5px;
    /*font-size: 16px;*/

}
.footw .line{height: 120px;width: 1px;background-color: #eee;float: left}

.yqlj{width: 1200px;height: 100%;margin: auto;}
.yqlj li{width:80px;height: 25px;float: left;list-style-type: none;}
.banquanxinxi{
    width: 1200px;
    /*margin: 15px 15px;*/

    margin-top: 10px;
    text-align: center;
    padding: 15px 15px ;
}
.nav-vertical ul li.nav-item dl {
    display:none;
    background-color:rgba(255,255,255,.9);
    position:absolute;
    left:200px;
    top:0;
    padding-left:20px;
    padding-right:20px;
    margin:0;
    width:400px;
    border:2px solid #F7B529;
    border-left: none;
    z-index:9999;
}
.icon-area:before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/city_1.png) no-repeat;
    vertical-align: middle;
    width: 25px;
    height: 46px;
    background-size: 100%;
    margin-right: 10px;
}
.icon-welfares:before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/book_1.png) no-repeat;
    vertical-align: middle;
    background-size: 100%;
    width: 30px;
    margin-right: 10px;
    height: 24px;
}
.icon-salary:before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/map_1.png) no-repeat;
    vertical-align: middle;
    width: 27px;
    height: 36px;
    background-size: 100%;
    margin-right: 10px;
}
.center .meta-box .meta-block ul {
    margin: 0;
}
